<div class="container-fruid">
  <div class="row row_pos">
    <div class="col-md-4 col-xs-4">
      <div class="list-group-item mess_rireki">
        <strong>メッセージ機能</strong>
      </div>
      <% @conversations.each do |conversation| %>
        <% if conversation.target_user(current_user).present? %>
          <%= link_to conversation.target_user(current_user).name, conversation_messages_path(conversation), class: "list-group-item" %>
        <% end %>
      <% end %>
    </div>
  <div class="col-md-8 col-xs-8 mess_table">
<% if @over_ten %>
  <%= link_to '以前のメッセージ', '?m=all' %>
  <hr>
<% end %>

<div class="ui segment mess_area">
  <% @messages.each do |message| %>
    <% if message.body %>
      <% user = User.find(message.user_id) %>
      <div class="item">
        <div class="content">
          <div class=" header"><strong><%= user.name %></strong> <%= message.message_time %></div>
          <div class="list">
            <div class="item">
              <i class="right triangle icon"></i>
              <%= message.body %>
            </div>
          </div>
        </div>
      </div>
      <hr>
    <% end %>
  <% end %>
</div>



<%= form_for [@conversation, @message], html: {class: "ui reply form mess_marge"} do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "form-control" %>
  </div>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
  <div>
    <%= f.submit "メッセージを送る" %>
  </div>
<% end %>
</div>
</div>
</div>
