<div class="container-fruid">
  <p><%= notice %></p>

  <div class="row">
    <div class="col-md-3 col-xs-3 list-group">
      <%= link_to user_path(@user), class: "list-group-item" do %>
        <%= profile_img(@user) %>
        <%= @user.name %>
      <% end %>
      <%= link_to "投稿記事一覧", topics_path, class: "list-group-item" %>
      <%= link_to "メッセージ機能",conversations_path, class: "list-group-item" %>
      <p></p>
    </div>
    <div class="col-md-6 col-xs-6">
      <div class="topic_table_top"><%= link_to "新規投稿はこちら", new_topic_path, class: 'btn btn-default' %></div>
        <% @topics.each do |topic| %>
          <div class="topic_table_top left">
            <p>
              <%= profile_img(topic.user)%>
              <strong><%= topic.user.name %></strong>
            </p>
            <p>
              <%= link_to topic_path(topic) do %>
              <strong><%= topic.topic %></strong>
              <% end %>
            </p>
          </div>
          <% unless topic.topic_img == nil %>
            <div class="topic_table_img center">
              <%= image_tag(topic.topic_img) if topic.topic_img.present? %>
            </div>
          <% end %>
        <div class="topic_table_btm left">
          <strong>記事：<%= topic.content %></strong>
        </div>
        <div class="topic_table_btm topic_table_end right">
          <%= link_to "コメントする", topic_path(topic), class: 'btn btn-default btn-sm btn-success' %>
          <% if user_signed_in? && current_user.id == topic.user.id %>
            <%= link_to "編集", edit_topic_path(topic.id), class: 'btn btn-default btn-sm btn-success' %>
            <%= link_to "削除", topic_path(topic.id), method: :delete, data: {confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn-danger' %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="col-md-3 col-xs-3 list-group">
    <div class="list-group-item">知り合いかも</div>
      <% @users.each do |user| %>
        <% if user.id != current_user.id %>
          <% unless current_user.following?(user) %>
              <div class="list-group-item">
                <%= profile_img(user) %>
                <%= link_to user.name, user %>
                <%= render 'users/follow_form', user: user %>
              </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
