<div class="container">
  <div class="row">
  <h2>登録ユーザー一覧</h2>
    <% @users.each do |user| %>
      <div class="panel panel-primary userlist_table col-md-6 col-sm-6 col-xs-6">
        <div class="panel-body">
          <div class="item">
          <%= profile_img(user) %>
            <% if user.id == current_user.id %>
              <%= user.name %>
            <% end %>
            <% if user.id != current_user.id %>
              <%= link_to user.name, user %>
              <p><%= user.email %></P>
              <p><%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%></p>
              <%= render 'follow_form', user: user %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
